{% load static %}
<!DOCTYPE html>
<html>
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'upload/main.css' %}">
    {% block css %}{% endblock css %}

</head>
<body id="page-top">

    <div class="section title">
      Attendance Management System
    </div>
     <main role="main" class="container">

         <br>
         <br>

         <span class='pull-left' style="font-size:18px;">
             Welcome, {{ user.profile.fullname }}
         </span>

         <a href="{% url 'logout' %}">
             <button class='btn btn-warning pull-right' style="margin-right:20px;font-size:18px;">
                 Logout
              </button>
         </a>

         <a href="{% url 'dashboard' %}">
          <button class='btn btn-info pull-right' style="margin-right:20px;font-size:18px;">
              Dashboard
           </button>
         </a>
         {% block nav %}{% endblock %}



             {% block content %}{% endblock %}


</main>



    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.1.1.min.js">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" crossorigin="anonymous"></script>
    <script src=
   "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js">
     </script>



    {% block javascript %}
    {% endblock javascript %}
</body>
<footer>

    <center>
            <br>
    <div class="footer" style="position:absoulute;bottom:5px;">
        Copyright &copy; 2020 AMS All Rights Reserved
     </div>
 </center>

</footer>


</html>
