{% extends 'dashboard/home.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'dashboard/df.css' %}">
       <link rel="stylesheet" type="text/css" href="{% static 'dashboard/main.css' %}">
       <link rel="stylesheet" type="text/css" href = "{% static 'dashboard/filter.css' %}">
{% endblock css %}

{% block replace %}
    <br>
    <h2> Teachers Consolidated Report</h2>
    <div class="spacer"></div>
    <div class="jumbotron">

        <form method="POST" enctype="multipart/form-data">

                  {% csrf_token %}

                      {{ form|crispy }}

                  <input type="submit" class="btn btn-info btn-lg" value="Get Data">
                  </form>
                  {% if fp %}
                    <br>
                    <button class = "btn btn-success">
                    <a href="{{fp}}" style="color:white;font-size:18px;" download> Click Here to Download </a>
                    </button>
                  {% endif %}
    </div>

     <h2> Explore Lectures </h2>
     <div class="spacer"></div>
    <div class="jumbotron">

        <form method="POST" enctype="multipart/form-data" action="{% url 'explore_lecturers' %}">

                  {% csrf_token %}

                      {{ explore_form|crispy }}

                  <input type="submit" class="btn btn-info btn-lg" value="Get Data">
                  </form>
                  {% block explore %}{% endblock explore %}

    </div>

{% endblock replace %}

{% block javascript %}

    <script src="{% static 'dashboard/filter.js' %}" charset="utf-8"></script>

{% endblock javascript %}
